.heading{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    color: rgba(30, 98, 207, 0.5);
}

.cardContainer {
    // background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between cards */
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 15px 19px;
    // border: 1px solid red;
  }
  
  .card {
    text-decoration: none; /* Remove default link underline */
    color: inherit; /* Inherit text color */
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(33.333% - 16px); /* Adjust width to fit 3 cards per row with some gap */
    box-sizing: border-box;
    width: 250px;
  }
  
  .card:hover {
    background-color: #f9f9f9;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
//   .cardDetail {
//     font-size: 1rem;
//     margin-bottom: 4px;
//     border: 1px solid red;
//   }

.serviceName{
    // border: 1px solid red;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
.insuranceName{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-bottom: -5px;
}
.status{
    
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    border-radius: 15px;
}

  
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 16px); /* 2 cards per row */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%; /* 1 card per row */
    }
  }

  .detailsContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 20px;
    background-color: #ffffff;
  }
  
  .detailsTitle {
    font-size: 2rem;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .detailSection {
    margin-bottom: 16px;
    padding: 10px;
    // text-align: center;
    // border-bottom: 1px solid #ccc;
  }
  
  .detailSection:last-child {
    border-bottom: none;
  }
  
  .detailSection h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
  .detailSection p {
    font-size: 1rem;
    margin-bottom: 4px;
    padding-bottom: 8px; /* Padding for better spacing */
    border-bottom: 1px solid #ccc; /* Only bottom border for each paragraph */
  }
  
  .signatureImage {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 16px;
  }

//   .detailItem {
//     margin-bottom: 8px;
//     color: red;
//      /* Adds space between each detail item */
//     /* Additional styling for each detail item */
//   }
.detailItem span {
    font-weight: 600;
    text-align: center; /* Ensure text is centered horizontally */
    display: block; /* Ensures each span takes full width and centers text */
    margin: 0 auto; /* Centers the span within its container */
  }
.detailItem .textcenter{
    color:  red;
}
// .detailItem p {
//     margin: 5px 0; /* Adjusts margin for each <p> tag inside .detailItem */
//   }









.serviceBox {
  border: 1px solid black !important;
  position: fixed;
  bottom: 2px;
  right: 61px;
  width: 253px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1001; /* Ensure it appears above the map */
  transition: all 0.3s ease;
  height: 50px;
}

.serviceBoxHeader {
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 1px;
  height: 60px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.serviceBoxContent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  justify-content: flex-start; /* Justify content to the start */
  position: absolute;
  top: 10px; /* Adjust as necessary */
  left: 10px; /* Adjust as necessary */
}

.serviceBoxContent p{
 color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin: 13px 1px;
  font-weight: 400;
}


.expandIconOngoing, .expandIconInner  {
  font-size: 1.2rem; /* Double arrow icon size */
  transform: rotate(0deg); /* Initial rotation */
  transition: transform 0.3s ease; /* Smooth rotation */
}

.expanded .expandIconOngoing {
  transform: rotate(180deg); /* Rotate the icon when expanded */
}

.closeIcon {
  color : red;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above other content */
  color: #333; /* Example color for the close icon */
}

.expanded {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expanded .serviceBoxHeader {
  border-bottom: none;
  justify-content: flex-end;
  color: red;
}

.expanded .serviceBoxContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 10px;
  left: 10px;
}

.expanded h2 {
  font-size: 2rem;
  margin: 0;
}








.leftContent {
  flex: 1;
}

.rightContent {
  display: flex;
  align-items: center;
}

.assignInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: -288px;
}

.assignInfo span{
  margin-right: 17px;
}

.phoneInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}



.phoneIcon {
  color: #007bff;
}

.innerBox {
  width: 100%; /* Full width */
  max-width: 1000px; /* Max width for responsiveness */
  border: 1px solid black;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
  margin: 20px auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.innerBoxHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expandIconInner{
  display: flex;
  align-items: flex-start;
}

.innerBoxExpanded .serviceBoxContent {
  display: block;
}


.innerBoxContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}








@media (max-width: 768px) {
  .serviceBox {
    right: 10px;
    width: auto;
  }

  .serviceBoxHeader {
    justify-content: flex-end;
    gap: 5px;
   

  }

  .serviceBoxTitle {
    display: none;
  }

  .expanded {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .expanded .serviceBoxHeader {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }

  .expanded .serviceBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .expanded h2 {
    font-size: 1.5rem;
  }

  .expandIconOngoing{
    font-size: 1.5rem;
    width: 100px;
    
  }
}
