


.containerServiceHistory{
  background-color: #ffffff;
  // border: 1px solid red;
  height: 100vh !important;
  width: 95% !important;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  margin-left: 33px;
  // justify-content: center;


}

.detailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Space between icon and title */
  padding: 10px; /* Adjust padding as needed */
}

.backIcon {
  background-color: rgb(32 129 195/ 1);
  border-radius: 50%;
  color: #ffffff;
  width: 36px;
  height: 36px;
  margin-right: 163px; /* Adjust spacing between icon and title */
}

.detailsTitle {
  margin: 0; /* Reset default margin */
  font-size: 24px; /* Adjust font size as needed */
  text-align: center; /* Center align text */
  flex-grow: 1; /* Allow title to take up remaining space */
}

.headerButtons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Adjust space between buttons */
}

@media (max-width: 768px) {
  .headerButtons {
    flex-direction: column; /* Stack buttons vertically on smaller screens */
    align-items: flex-end; /* Align buttons to the right on smaller screens */
    // display: inline-block;
  }
}

.headerButton {
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  color: #0056b3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.headerButton:hover {
  background-color: #0056b3;
  color: white;
}

.buttonIcon {
  margin-right: 8px;
}

.heading{
    // border: 1px solid red;
    display: flex;
    // justify-content: ;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    color: rgb(32 129 195/ 1) ;
    @media (max-width: 768px) {
      /* Example: Adjust font-size for smaller screens */
      font-size: 16px;
    }
}

.exportButton {
  padding: 8px 16px;
  background-color: #E5E4E2;
  color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  margin-right: 40px;
  margin-top: 20px;
  margin-left: auto;

  @media (max-width: 768px) {
    /* Example: Adjust padding and font-size for smaller screens */
    padding: 6px 12px;
    font-size: 14px;
    // margin-right: 20px;
    margin-right: 40px;
    margin-top: 20px;
  }
}

.exportButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.cardContainer {
    // background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px; /* Space between cards */
    justify-content: space-evenly;
    margin: 20px auto;
    padding: 15px 19px;
    // border: 1px solid red;
  }
  
  .card {
    text-decoration: none; /* Remove default link underline */
    color: inherit; /* Inherit text color */
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: calc(33.333% - 16px); /* Adjust width to fit 3 cards per row with some gap */
    box-sizing: border-box;
    width: 250px;
  }
  
  .card:hover {
    background-color: #f9f9f9;
  }
  
  .cardTitle {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  
//   .cardDetail {
//     font-size: 1rem;
//     margin-bottom: 4px;
//     border: 1px solid red;
//   }

.serviceName{
    // border: 1px solid red;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}


.insuranceName{
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-bottom: -5px;
}
.status{
    
    // border: 1px solid red;
    display: flex;
    justify-content: center;
    margin-left: 100px;
    border-radius: 15px;
}

  
  
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 16px); /* 2 cards per row */
    }
  }
  
  @media (max-width: 480px) {
    .card {
      width: 100%; /* 1 card per row */
    }
  }

  .detailsContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 80px 22px;
    background-color: #ffffff;

    // border: 1px solid red;
  }
  
  .detailsTitle {
    font-size: 1.5rem;
    margin-bottom: 16px;
    text-align: center;
    color:rgb(32 129 195/ 1) ;
    font-weight: 600;
  }
  
  .detailSection {
    // border: 1px solid blue;
    margin-bottom: 16px;
    padding: 10px;
    // text-align: center;
    // border-bottom: 1px solid #ccc;
  }
  
  .detailSection:last-child {
    border-bottom: none;
  }
  
  .detailSection h2 {
    font-size: 1.5rem;
    margin-bottom: 8px;
  }

  .detailSection p {
    font-size: 1rem;
    margin-bottom: 4px;
    padding-bottom: 8px; /* Padding for better spacing */
    border-bottom: 1px solid #ccc; /* Only bottom border for each paragraph */
  }
  
  .signatureImage {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 16px;
  }

//   .detailItem {
//     margin-bottom: 8px;
//     color: red;
//      /* Adds space between each detail item */
//     /* Additional styling for each detail item */
//   }


// .detailItem {
//   border: 1px solid red;
//   // display: flex;
//   // flex-direction: column; 
// }
// .detailItem strong{
//   border: 1px solid red;
// }

// .detailItem span {
//     border: 1px solid red;
//     // width: auto;
//     font-weight: 600;
//     text-align: center; /* Ensure text is centered horizontally */
//     display: block; /* Ensures each span takes full width and centers text */
//     margin: 0 auto; /* Centers the span within its container */
//   }

// .detailItem .textcenter{
//     color:  red;
// }
// // .detailItem p {
// //     margin: 5px 0; /* Adjusts margin for each <p> tag inside .detailItem */
// //   }

// // .detailItem p {
// //   display: flex;
// //   justify-content: space-between; /* Distribute space between label and value */
// //   align-items: center;
// //   margin: 0;
// // }

// // .primary {

// // }


.detaillabel {
  margin-left: 10px;
  font-weight: 500; /* Optional: Make the label bold */
  font-size: 14.5px;
  min-width: 120px; /* Adjust label width as needed */
  display: inline-block;
  margin-right: auto; /* Push the label to the left */
  text-align: left; /* Align text to the left */
}

.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the primary span to take up the remaining space */

}

.detailItem {
  // border: 1px solid red;
  border-bottom: 1px solid #ccc; /* Solid border at the bottom */
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 2px;
}

.detailItem:hover{
  background-color: #F5F5F5;  
}






.serviceBox {
  border: 1px solid black !important;
  position: fixed;
  bottom: 2px;
  right: 61px;
  width: 253px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  // border-radius: 8px;
  // border-radius-top:20px ;
  border-top-left-radius: 9px ;
  border-top-right-radius: 9px ;

  z-index: 1001; /* Ensure it appears above the map */
  transition: all 0.3s ease;
  height: 48px;
  // overflow-y: auto; /* Enable vertical scrolling */

}

.serviceBoxHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 1px;
  height: 60px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}


.cancelButtonTop{
  position: absolute;
  top: 12px;
  right: 50px;
  cursor: pointer;
  background-color: transparent;
  color: red;
  border: 1px solid red;
  font-weight: 600;
  padding: 10px 10px;
  cursor: pointer;
}

.serviceBoxContent {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  justify-content: flex-start; /* Justify content to the start */
  position: absolute;
  top: 10px; /* Adjust as necessary */
  left: 10px; /* Adjust as necessary */
  width: 100%;
  // aspect-ratio: 3/1;
  // padding: 40px 0;
  // margin: auto;
  // border: solid black 2px;
  // overflow-x: hidden;
  overflow-y: hidden;
  // scroll-snap-type: y mandatory;
}

.serviceBoxContent p{
 color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  margin: 13px 1px;
  font-weight: 400;
}


.expandIconOngoing, .expandIconInner  {
  font-size: 1.2rem; /* Double arrow icon size */
  transform: rotate(0deg); /* Initial rotation */
  transition: transform 0.3s ease; /* Smooth rotation */
}

.expanded .expandIconOngoing {
  transform: rotate(180deg); /* Rotate the icon when expanded */
}

.closeIcon {
  color : red;
  font-size: 1.5rem;
  position: absolute;
  top: 18px;
  right: 31px;
  cursor: pointer;
  z-index: 100; /* Ensure it's above other content */
  color: #333; /* Example color for the close icon */
}

.expanded {
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling */

}


.expanded .serviceBoxHeader {
  border-bottom: none;
  justify-content: flex-end;
  color: red;
}

.serviceBoxTitle{
  font-size: 19px;
  font-size: 500;
}


.expanded .serviceBoxContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  top: 10px;
  left: 10px;
}

.expanded h2 {
  font-size: 2rem;
  margin: 0;
}








.leftContent {
  flex: 1;
}

.rightContent {
  display: flex;
  align-items: center;
}

.assignInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: -288px;
}

.assignInfo span{
  margin-right: 17px;
}

.phoneInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}



.phoneIcon {
  color: #007bff;
}

.innerBox {
  width: 97%; /* Full width */
  // max-width: 1000px; /* Max width for responsiveness */
  border: none;
  background-color: #f0f0f0;
  padding: 5px;
  // border-radius: 8px;
  margin: 20px auto; /* Center horizontally */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Hide overflow by default */
  border-bottom: 1px solid gray;
}

.innerBoxHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.expandIconInner{
  position: relative;
  top: 17px;
  right: 21px;
}

.serviceBoxTitle{
  position: relative;
  top: 0px;
  left: 15px;
}

.innerBoxExpanded {
  overflow: hidden; /* Ensure the parent doesn't scroll */
}

// .innerBoxExpanded .serviceBoxContent {
//   display: block;
// }


// .innerBoxExpanded {
//   overflow: auto; /* Enable scrolling when expanded */
//   max-height: 80vh; /* Set a max height to trigger scrolling if content overflows */
// }


// .innerBoxContent {
//   display: flex;
//   justify-content: center; /* Center content horizontally */
//   align-items: center; /* Center content vertically */
//   margin-top: 10px;
//   background-color: #007bff;
//   width: 100%; /* Adjust width as needed */
//   max-height: 200px; /* Adjust max-height as needed */
//   overflow-y: auto; /* Add scrollbars if content overflows vertically */
//   padding: 10px; /* Add padding for better visual appearance */

// }



// .innerBoxContent {
//   display: flex;
//   // justify-content: space-between;
//   // flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   padding: 10px;
//   margin: -15px -2px;
//   // overflow-y: auto; /* Add scrollbars if content overflows vertically */
//   width : 100%;
//   border :1px solid red;
//   background-color: #ffffff;
// }

// .innerBoxHeading {
//   font-size: 24px;
//   margin-bottom: 10px;
//   margin-top: -9px;
//   text-align: center;
//   background-color: #007bff;
//   color: white;
//   padding: 10px;
//   border-radius: 5px;
//   width: 70%;
// }

// .contentWrapper {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   // align-items: flex-start;
//   border: 1px solid red;
//   width: 100vh;
//   // height: 100%;
//   margin-bottom: 20px;
//   // margin-right: 200px;
// }

// .imageWrapper {
//   flex: 0 0 auto; /* Prevents image from stretching */
//   margin-right: 20px;
// }


// .productImage {
//   width: 100px; /* Adjust size as needed */
//   height: auto;
//   border-radius: 8px;
// }

// .imageName {
//   margin-top: 5px;
//   text-align: center;
// }

// .detailsWrapper {
//   flex: 1 1 auto; /* Allows details to expand */
// }

// .detailHeading {
//   font-size: 18px;
//   margin-bottom: 10px;
// }

// .detail {
//   margin-bottom: 5px;
// }

// .buttonWrapper {
//   margin-bottom: 20px;
// }

// .cancelButton {
//   padding: 10px 20px;
//   background-color: #dc3545;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .actionButtons {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   margin-bottom: 20px;
// }

// .contentWrapperR{
//   border: 1px solid red;
//   width: 101%;
//   height: 227%;
//   margin-top: -150px; 
// }

// .chatButton, .callButton {
//   padding: 10px 20px;
//   background-color: #007bff;
//   color: white;
//   border: none;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .buttonIcon {
//   margin-right: 5px;
// }

// .mapWrapper {
//   display: flex;
//   align-items: center;
// }

// .mapIcon {
//   font-size: 24px;
//   margin-right: 10px;
// }

// .map {
//   width: 300px; /* Adjust map width as needed */
//   height: 200px; /* Adjust map height as needed */
//   border: 1px solid #ccc;
//   border-radius: 8px;
// }

.innerBoxContent {
  width: 100%; /* Ensure it takes full width */
  // max-width: 1000px;
  // height: 100vh;
  display: flex;
  flex-direction: column; /* Stack vertically */
  align-items: center; /* Center horizontally */
  margin-top: -37px; /* Add space between header and content */
  // border: 1px solid red;
  max-height: 70vh !important; /* Set a max height to trigger scrolling if content overflows */
  overflow-y: auto !important; /* Enable vertical scrolling */
  // border:1px solid red;
}


.scrollable {
  overflow-y: auto !important; /* Enable vertical scrolling */
  max-height: 200vh !important; /* Set a max height to trigger scrolling if content overflows */
}


.innerBoxHeading{
  // border: 1px solid red;
  background-color: rgb(32 129 195/ 1);
  width: 94%;
  // max-width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 14px;
  color: white;
}

.contentWrapper {
  // border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1000px;
  justify-content: space-between;
  max-height: 100%;
  overflow: hidden; /* Hide overflow by default */
}





.leftSide, .rightSide {
  // width: 48%;
}

.leftSide {
  // border: 1px solid #ff0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
}

.rightSide {
  // border: 1px solid #ff0000;
  width: 450px;
}

.image {
  width: 80px;
  height: 80px;
  // height: auto;
  // margin-bottom: 5px;
}

.imageTitle {
  font-size: 20px;
  margin-bottom: 10px;
}

.paragraph {
  // margin-bottom: 10px;
}

.cancelButton {
  background-color: rgb(32 129 195/ 1);
  color: #fff;
  padding: 10px 20px;
  width: 80%;
  border: none;
  cursor: pointer;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chatButton, .callButton {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.icon {
  margin-right: 5px;
}





@media (max-width: 768px) {
  .serviceBox {
    right: 10px;
    width: auto;
  }

  .serviceBoxHeader {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
  }

  .serviceBoxTitle{
    // display: none;
  }
  .MapserviceBoxTitle{
    display: none;
  }


  .assignInfo {
    display: none;
  }

  .expanded {
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .expanded .serviceBoxHeader {
    width: 100%;
    justify-content: space-between;
    padding: 10px;
  }

  .expanded .serviceBoxContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .expanded h2 {
    font-size: 1.5rem;
  }

  .expandIconOngoing {
    font-size: 1.5rem;
    width: 80px;

  }

  .expandIconInner {
    margin-top: 7px;
  }

  .innerBox {
    display: flex;
    justify-content: center;
    margin-left: -7px;
  }

  .innerBoxHeading {
    margin-left: -20px;
    margin-top: -20px;
  }

  .innerBoxContent {
    width: 100%;
    max-height: 70vh; /* Set maximum height for inner box content */
    overflow-y: auto; /* Enable scrolling for inner box content */
    padding: 10px; /* Adjust padding as needed */
    margin-top: 10px; /* Adjust margin as needed */
  }

  .contentWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-top: -10px;
  }

  .rightSide{
    margin-top: 15px;
  }
  .buttonGroup{
    display: flex;
    justify-content: space-around;
  }
}
