// html, body {
//     height: 100%;
//     margin: 0;
//     padding: 0;
//     overflow: auto; /* Allow scrolling */
// }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.heading {
    margin-bottom: 20px;
}

.subcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
    min-height: 90vh;
    background-color: #ffffff;
    flex-wrap: wrap;
}

.left_side {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 31px 20px;
    max-width: 275px;
}

.button_left {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #0070f3;
    border: 1px solid gray;
    padding: 8px 13px;
    margin-bottom: 12px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 14px;
    font-weight: 700;
}

.button:hover {
    background-color: #0070f3;
    color: white;
}

.button.active {
    background-color: #005bb5;
    color: white;
}

.icon {
    margin-right: 14px;
    height: 20px;
}

.right_side {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    margin: 51px 35px ; 
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.details {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    width: 100%;
    flex-wrap: wrap;
}

.inputContainer {
    position: relative;
    margin-bottom: 20px;
    flex: 1; 
    margin-right: 10px; 
}

.inputContainer:last-child {
    margin-right: 0;
}

.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
}

.label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #999;
    pointer-events: none;
    transition: all 0.2s ease-out;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
    top: 0;
    left: 10px;
    font-size: 12px;
    color: #0070f3;
}

.submitButton {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-top: 10px;
}

.submitButton:hover {
    background-color: #005bb5;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .left_side, .right_side {
        // margin: 30px 0;
    }
}

@media (max-width: 768px) {
    .subcontainer {
        flex-direction: column;
        align-items: center;
    }
    .left_side, .right_side {
        max-width: 100%;
        margin: 20px 0;
        padding: 10px;
    }
    .button {
        padding: 10px 20px;
        font-size: 16px;
    }
    .icon {
        height: 24px;
    }
    .details {
        flex-direction: column;
        align-items: center;
    }
    .inputContainer {
        margin-right: 0;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .button {
        padding: 12px 25px;
        font-size: 18px;
    }
    .icon {
        height: 26px;
        margin-right: 12px;
    }
    .submitButton {
        padding: 12px 25px;
        font-size: 16px;
    }
}
