@import "../../styles/colors.module.scss";

.dashboard-main-container {
  background-color: $main-container-bg-light;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  transition: padding-left 200ms;

  .content-container {
    flex-grow: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;

    .paper-container {
      min-height: 400px;
      padding: 10px 24px;
      margin: 2rem 0;
      background-color: $main-container-paper-bg-light;
    }
  }
}

.dashboard-main-container.dark {
  background-color: $main-container-bg-dark;

  .paper-container {
    background-color: $main-container-paper-bg-dark;
  }
}
